*{
    overflow-x: hidden;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(247, 247, 247);
}
/* 
div{
    margin-top: 10px;
} */

p{
    color: white;
    font-weight: bold;
    font-size: 18px;
}

h2{
    font-weight: bold;
}

.container {
    margin-top: 50px;
}

@font-face {
    font-family: "Capture";
    src: url("./Captureit.ttf");
}

span{
    font-family: "Capture";
    font-size: 40px;
    /* color: rgb(250, 252, 132); */
    color: #DCAE70;
}

label{
    font-family: "Capture";
    font-size: 20px;

}

#inputFilm{
    width: 60%;
}

#btn:hover{
    color: rgb(250, 252, 132);
}


#div-enredo{
    margin: auto;
    align-items: center;
    width: 80%;
}

#div-poster{
    margin-top: 20px;
}

#div-titulo{
    margin-top: 40px;
}

#conteudo{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    text-align: center; 
    color: #DCAE70;
    padding: 20px;
    border-radius: 20px;
}

#poster{
    padding: 7px;
    background-color: #DCAE70;;
    border-radius: 2px;
}


footer{
    margin-top: 20px;
} 