*{
    overflow-x: hidden;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(247, 247, 247);
}
/* 
div{
    margin-top: 10px;
} */

p{
    color: white;
    font-weight: bold;
    font-size: 18px;
}

h2{
    font-weight: bold;
}

.container {
    margin-top: 50px;
}

@font-face {
    font-family: "Capture";
    src: url("./Captureit.ttf");
}

span{
    font-family: "Capture";
    font-size: 40px;
    /* color: rgb(250, 252, 132); */
    color: #DCAE70;
}

label{
    font-family: "Capture";
    font-size: 20px;

}

#inputFilm{
    width: 80%;
}

#film{
    height: 50px;
}

#teste{
    padding: 5px;
    text-align: center;
    width: 40px;
    font-size: 20px;
    position: relative;
    top: 4px;
}

#btn:hover{
    color: #DCAE70;
    background-color: #242323;
    transition: 0.2s;
}


#div-enredo{
    margin: auto;
    align-items: center;
    width: 80%;
}

#div-poster{
    margin-top: 20px;
}

#div-titulo{
    margin-top: 40px;
}

#conteudo{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    text-align: center; 
    color: #DCAE70;
    padding: 20px;
    border-radius: 20px;
}

#poster{
    padding: 7px;
    background-color: #DCAE70;;
    border-radius: 2px;
}


footer{
    margin-top: 20px;
} 







/*all devices (landscape phones, 576px and up)*/
@media (min-width: 500px) and (max-width: 767.98px) {
   label, #film{
       text-align: center;
       margin-left: 40px;
   }

   #poster{
        width: 60%;
   }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    label, #film{
        text-align: center;
        margin-left: 40px;
    }
    #poster{
        width: 60%;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
   
}
